include ./mixins/btn/text-with-icon.jade

.deus-dd-cont
  +btn_with_icon(btn)
  .deus-dd-drop-cont
    input.deus-dd-input(type="text")
    include ./empty-search.jade
    ul.deus-dd-items
      for option in dropdownOptions
        li.deus-dd-item
          a.deus-dd-item-btn(href="#", data-id=option.model.id)
            span.option-text=option.text
            i.fa.fa-minus



