mixin btn_with_icon(options)
  - var iconClass = options.iconClassName || "fa fa-angle-down"
  - var className = options.className || ""
  a(class="deus-btn-with-icon " + className, href=options.href || "#")
    span.btn-text=options.text
    i.btn-icon(class=iconClass)

