@import 'semantic-ui-icon'

a
  text-decoration: none

.deus-dd-cont
  display: inline-block

.deus-dd-drop-cont
  display: none

.deus-dd-active
  .deus-dd-drop-cont
    display: block

.deus-dd-items
  list-style: none

.deus-dd-item-btn
  i.icon
    display: none
  &.item-selected
    i.icon
      display: inline-block
  &.item-active
    background: #eee

